

<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/colors/red.css" title="red" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/colors/jade.css" title="jade" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/colors/green.css" title="green" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/colors/blue.css" title="blue" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/colors/beige.css" title="beige" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/colors/cyan.css" title="cyan" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/colors/orange.css" title="orange" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/colors/peach.css" title="peach" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/colors/pink.css" title="pink" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/colors/purple.css" title="purple" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/colors/sky-blue.css" title="sky-blue" media="screen" />
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/colors/yellow.css" title="yellow" media="screen" />

<!-- Bootstrap CSS  -->
<link rel="stylesheet" href="<?php echo base_url(); ?>assets/front_end/asset/css/bootstrap.min.css" type="text/css" media="screen">

<!-- Font Awesome CSS -->
<link rel="stylesheet" href="<?php echo base_url(); ?>assets/front_end/css/font-awesome.min.css" type="text/css" media="screen">

<!-- Margo CSS Styles  -->
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/style.css" media="screen">

<!-- Responsive CSS Styles  -->
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/responsive.css" media="screen">

<!-- Css3 Transitions Styles  -->
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>assets/front_end/css/animate.css" media="screen">
<!-- Color CSS Styles  -->
<link href="<?php echo base_url(); ?>assets/bootstrap-datepicker/css/datepicker.css" rel="stylesheet" type="text/css"/>